<%- include('./partials/messages.ejs')%>
<%- include("./partials/charityNav.ejs"); %>
   <div class="container wrapper">
       <h1 class="display-3 text-center">Donation Recieved <i class="far fa-smile-beam"></i></h1>
      <div style="height: 80%;" class="DonationRequests">
          <% var max = data.length %>
          <div class="row mb-3">
            <% for( var i=0; i< max; i++){%>
                <%if(names.length>0){%>
                    <div class="col-sm-3 my-4">
                        <div class="card" style=" width: '20rem' " >
                            <img
                                src="https://source.unsplash.com/400x400/?poor"
                                class="card-img-top"
                                alt="..."
                            />
                            <div class="card-body">
                                <h5 class="card-title">Donated by: <%=names[i]%></h5>
                                <div class="card-text">
                                    <h6>Material: <%=data[i].material%></h6>
                                    <h6>Quantity: <%=data[i].quantity%></h6>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                <%}%>
              <%}%>
          </div>
      </div>
      <div class="push"></div>
    </div>
        
<%-include("partials/footer.ejs")%>
