<%- include ('partials/header'); -%> 
<%- include ('partials/donorNav'); -%> 


<div>
    <%= info.userName %>
</div>

<div>
    <h2>Past Donations</h2>

    <div id="pastDonations">

        <% if(info.donation.length!=0) { %>

        <ul id="donation-list">
            <% info.donation.forEach(item=>{ %>
   
                <li>
                    <h4><%= item.DonatedTo %> (<%= item.date %>)</h4>
                    <p><%= item.material %> : <%= item.quantity %></p>
                </li>
        
            <%  }) %>
        </ul>

        <% } else{ %>

        <h4>No past donations</h4>

        <% } %>
        
    </div>

</div>

<script>

</script>

</script>
<%-include("partials/footer.ejs")%>
