<%- include ('partials/header'); -%> 
<%- include ('partials/donorNav'); -%> 


<div>
    <h3><b>Name:</b> <%= data.basic.name %></h3>
</div>
<br>
<div>
    <h3>Past Donations</h3>

    <div id="pastDonations">

		<% if(data.details.length > 0) { %>
		<ul>
			<% data.details.forEach(detail => { %>
				<li>
					<h3><%=detail.DonatedTo %> - <%= detail.date %> </h3>
                    <p> <%= detail.material %> : <%= detail.quantity %>
				</li>
			<% }) %>
		</ul>
		<% } else { %>
			<h4 class="text-danger">No Donations</h4>
		<% } %>
    </div>

</div>

<%-include("partials/footer.ejs")%>