<%- include ('partials/header'); -%> 
<%- include ('partials/donorNav'); -%> 


<div>
    <%= info.userName %>
</div>

<div>
    <h2>Past Donations</h2>

    <div id="pastDonations">

        <ul id="donation-list">
            <% info.donation.forEach(item=>{ %>
   
                <li>
                    <h4><%= item.DonatedTo %> (<%= item.date %>)</h4>
                    <p><%= item.material %> : <%= item.quantity %></p>
                </li>
        
            <%  }) %>
        </ul>
        
    </div>

</div>

<script>
/*     const donList=document.getElementById("donation-list");
    let id=localStorage.getItem('userId');
  
    const getProfile=async searchText=>{

    const res=await fetch(`/donor/profile/${id}`);
    matches=await res.json();
    console.log(matches);
    outputHtml(matches.data.donation); 
  }; 

    const outputHtml= matches=>{
        if(matches.length>0){
            const html=matches.map(
                item=>`
                <li>
                    <h3><%=item.DonatedTo %> - <%= item.date %> </h3>
                    <p> <%= item.material %> : <%= item.quantity %>
                </li>
               `
            ).join('');

            donList.innerHTML=html;
        }
        else{
          donList.innerHTML='<p> No donations yet </p>';
        }
    };

  
  getProfile();
 */
</script>

</script>
<%-include("partials/footer.ejs")%>
